.sizePreguntas{
	font-family: 'Nexa';
    font-size: 6rem;
    text-align: center;
}

.textbutton{
    overflow-wrap: break-word;
    font-family: 'Nexa';
    line-height: 100px;
    font-size: 3.5rem;
    width: 250px;
    height: 120px;
}

@font-face{
    font-family: Nexa;
    src: url('../letras/Nexa_Bold.otf');
}

@font-face{
    font-family: Nexa Light;
    src: url('../letras/Nexa_Light.otf');
}

.logBienvenida{
	width: 60%;
	height: 40%;
	align-content: center;
	margin: center;
    margin-top: 5%;
}

.margenCaritas{
	margin-left: 75px;
	width: 130px;
	align-content: space-around;
}

.gracias{
    text-align: center;
    font-family: "Nexa Light";
    font-size: 7rem;
    color: #226CB1;
    margin-left: 35%;
    margin-top: 5%;
}

.marginbutton{
	margin-left: 15px;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 150px;
	height: 250px;
}

.buttoncenter{ 
    margin-left: 38%;
    margin-bottom: 12px;
}

.buttoncenterRight{ 
    /*margin-left: 38%;*/
    margin-bottom: 10px;
}

.buttoncenterLeft{
    margin-left: 50%;
    margin-bottom: 10px;
}

.spaceSection{
	display: block;
    margin-left: 17%;
    margin-top: 5%;
}

.spaceSection2{
	margin-top: 5%;	
}

.buttonRadio{
    align-items: flex-end;
    font-family: 'Nexa';
    line-height: 80px;
    font-size: rem;
    width: 240px;
    height: 100px;
    margin-bottom: 10px;
}

.boxComentario{
	margin-left: 10%;
	width: 900px;
	height: 70px;
	font-family: 'Nexa';
	font-size: 2em;
}

.text{
	text-align: center;
	font-size: 1.5em;
	margin-top: 10px;
	font-family: 'Nexa';
}


/* Smartphones (portrait and landscape) ———– */
@media only screen and (min-device-width : 100px) and (max-device-width : 500px) {
    
    .sizePreguntas{
	font-family: 'Nexa';
    font-size: 2rem;
    text-align: center;
    margin-top: 5%;
    }
    
    .textbutton{
        font-family: 'Nexa';
        font-size: 1.5rem;
        line-height: 35px;
        width:120px;
        height: 60px;
    }
    
    .margenCaritas{
        margin-left: 35px;
        width: 50px;
        height: 60px;
        border: 4px none none;
        align-content: space-around;
        display: flex;
    }
    
    .logBienvenida{
        width: 90%;
        margin-top: 35%;
    }
    
    .gracias{
        text-align: center;
        font-family: "Nexa Light";
        font-size: 1.5rem;
        color: #226CB1;
        margin-left: 35%;
        margin-top: 5%;
    }
    
    .marginbutton{
        margin-left: 15px;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    
    .buttoncenter{ 
        margin-left: 38%;
        margin-bottom: 10px;
    }
    
    .buttoncenter2{
       margin-left: 35%;
        margin-bottom: 10px; 
    }
    
    .buttoncenterRadio{
        margin-left: 5%;
    }
    
    .buttoncenterLeftRadio{
        width: 100px;
        height: 50px;
        margin-left: 30%;
        margin-bottom: 10px;
    } 
    
    .buttonRadio{
        font-family: 'Nexa';
        line-height: 40px;
        margin-bottom: 10px;
        font-size: 1em;
        width: 150px;
        height: 60px;
        overflow-wrap: break-word;
    }
    
    .boxComentario{
        width: 300px;
        height: 50px;
        font-family: 'Nexa';
        font-size: 1em;
    }
    
    .text{
        text-align: center;
        font-size: 0.8em;
        margin-top: 5%;
        font-family: 'Nexa';
    }


}

@media only screen and (min-width: 501px) and (max-width: 900px) {
    
    .sizePreguntas{
        font-family: 'Nexa';
        font-size: 3rem;
        text-align: center;       
    }
    
    .textbutton{
        font-family: 'Nexa';
        line-height: 65px;
        font-size: 2rem;
        width: 180px;
        height: 90px;
    }
    
    .margenCaritas{
        margin-top: 8%;
        margin-left: 10%;
        width: 60px;
        height: 100px;
        border: 8px none none;
        align-content: space-around;
        display: flex;
    }
    
    .logBienvenida{
        width: 60%;
        margin-top: 15%;
    }
    
    
    .gracias{
        text-align: center;
        font-family: "Nexa Light";
        font-size: 3.5rem;
        color: #226CB1;
        margin-left: 35%;
        margin-top: 5%;
    }
    
    .marginbutton{    
        margin-left: 15px;
        margin-bottom: 10px;
        margin-top: 10px; 
    }
    
    .buttoncenter{
        margin-bottom: 12px;
    }
    
    .buttoncenterLeft{ 
        /*margin-left: 38%;*/
        line-height: 45px;

    }
    
    .buttoncenterRight{
        line-height: 50px;

    }
    
    .buttonRadio{
        margin-left: 20%;
        margin-bottom: 10px;
        line-height: 60px;
        font-size: 1.5em;
        width: 150px;
        height: 80px;
        float: left;
    }
    
    .boxComentario{
        margin-top: %;
        margin-left: 15%;
        width: 500px;
        height: 60px;
        font-family: 'Nexa';
        font-size: 1.5em;
    }
    
    .text{
        text-align: center;
        font-size: 1em;
        margin-top: 3%;
        font-family: 'Nexa';
    }
}
 